.marketplace-page-bg {
    /*background-image: url("../img/Transfer-bg.png"); */
    background-size: cover;
    /* viewport width */
    /* width: 100vw;
    height: 100vh; */
    /* align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center; */
    color:aliceblue;
}

.loyalty-box {
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #253A5E;
    margin: 10px;
    padding: 10px;
    background-color: aliceblue;
}